{% include 'partials/header.html' %}
<form action='{% url 'add' %}' method='post'>
{% csrf_token%}
<label for="title">Title</label><br />
<input type="text" name="title" id="title"><br />
<label for="text">Text</label><br />
<textarea name="text" rows="8" cols="80" id="text"></textarea><br /><br />
<input type="submit" value="submit" class="btn btn-primary">
</form>
<br />
<a href="/">go back</a>

{% include 'partials/footer.html'%}
